<div class="container">
  <div class="content">
    <h1 mat-dialog-title class="dialog-title">
      <i class="bi bi-bell"></i> {{ 'DIALOG.TITLE' | translate }}
    </h1>
    <div mat-dialog-content class="dialog-content">
      {{ 'DIALOG.MESSAGE_LOGOUT' | translate }}
    </div>
    <div mat-dialog-actions class="dialog-actions">
      <button class="dialog-button" mat-button (click)="onCancel()"> {{ 'DIALOG.CANCEL' | translate }}</button>
      <button class="dialog-button" mat-button (click)="onConfirm()">{{ 'DIALOG.CONFIRM' | translate }}</button>
    </div>
  </div>
</div>
