<div class="modal1">
  <div class="content">
    <div class="modal-header">
      <span></span>
      <button class="close cancel" (click)="changeVisibleUpdateContent($event)">
        X
      </button>
    </div>
    <div class="modal-body">
      <h2>{{ 'BUCKET_TITLE_MODAL.UPDATE_TITLE_CONTENT' | translate }}</h2>
      <form [formGroup]="updateContentForm">
        <label for="text">{{ 'BUCKET_TITLE_MODAL.CONTENT' | translate }}:<span class="required">*</span></label>
        <input type="text" id="text" formControlName="content" />
        @if (updateContentForm.get('content')?.invalid &&
        updateContentForm.get('content')?.touched) {
        <div>
          <small class="error">{{ 'BUCKET_TITLE_MODAL.TITLE_REQUIRED' | translate }}</small>
        </div>
        }
        <label for="public">{{ 'BUCKET_TITLE_MODAL.STATUS' | translate }}:</label>
        <div class="button-group">
          <button
            type="button"
            class="status-button"
            [ngClass]="{
              active: updateContentForm.get('done')?.value === true
            }"
            (click)="setDoneStatus(true)"
          >
            <i class="bi bi-check-circle-fill text-success"></i> {{ 'BUCKET_TITLE_MODAL.TRUE' | translate }}
          </button>
          <button
            type="button"
            class="status-button"
            [ngClass]="{
              active: updateContentForm.get('done')?.value === false
            }"
            (click)="setDoneStatus(false)"
          >
            <i class="bi bi-alarm text-danger"></i> {{ 'BUCKET_TITLE_MODAL.FALSE' | translate }}
          </button>
        </div>
        @if(bucketItemsbyId){
        <div class="mt-4">
          <p><strong>{{ 'BUCKET_TITLE_MODAL.CREATE_AT' | translate }}:</strong> {{ bucketItemsbyId.createdAt }}</p>
          <p>
            <strong>{{ 'BUCKET_TITLE_MODAL.UPDATE_AT' | translate }}:</strong>
            {{ bucketItemsbyId.updatedAt }}
          </p>
        </div>
        }
        <button class="btn btn-lg loading-btn" *ngIf="loading">
          <span class="spinner-border spinner-border-sm"></span>
          {{ 'BUCKET_TITLE_MODAL.WAITING' | translate }}
        </button>
        <div class="modal-footer">
          <button
            (click)="deleteItem()"
            [disabled]="updateContentForm.invalid || loading"
            [style.cursor]="loading ? 'not-allowed' : 'pointer'"
          >
            <i class="bi bi-trash3 me-1"></i>{{ 'BUCKET_TITLE_MODAL.DELETE_CONTENT' | translate }}
          </button>
          <button
            (click)="updateItem()"
            [disabled]="updateContentForm.invalid || loading"
            [style.cursor]="loading ? 'not-allowed' : 'pointer'"
          >
            <i class="bi bi-arrow-clockwise me-1"></i>{{ 'BUCKET_TITLE_MODAL.UPDATE_CONTENT' | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
