<div
  class="continer card text-center"
  (click)="changeVisible()"
  (keydown.enter)="changeVisible()"
  tabindex="0"
>
  <div
    class="content"
    (click)="blockFormClosing($event)"
    (keydown.enter)="changeVisible()"
    tabindex="0"
  >
    <div class="card-header h5 text-white bg-primary">  
      {{ 'FORGOTPASSWORD.PASSWORD_RESET' | translate }}
    </div>
    <div class="card-body px-5">
      <p class="card-text py-2">
        {{ 'FORGOTPASSWORD.ENTER_YOUR_EMAIL' | translate }}
      </p>
      <div data-mdb-input-init class="form-outline">
        <input type="email" id="typeEmail" class="form-control my-3" />
        <label class="form-label" for="typeEmail">{{
          'FORGOTPASSWORD.EMAIL_INPUT' | translate
        }}</label>
      </div>
      <a href="#" data-mdb-ripple-init class="btn btn-primary w-100">{{
        'FORGOTPASSWORD.RESET_PASSWORD' | translate
      }}</a>
      <div class="d-flex justify-content-between mt-4">
        <button (click)="changeVisible()" class="btn btn-primary">
          {{ 'FORGOTPASSWORD.SIGN_IN' | translate }}
        </button>
        <button routerLink="/sign-up" class="btn btn-primary">
          {{ 'FORGOTPASSWORD.SIGN_UP' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
