.div {
  position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    z-index: 99;
    background-color: rgba(83, 83, 83, 0.4);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.body{
  position: fixed;
        background-color: white;
        border-radius: 8px;
        overflow: hidden;
        width: 30%;
        overflow-y: auto;
        max-height: 95vh;

        &::-webkit-scrollbar {
            display: none;
        }
}

.profile-edit-container {
  
  max-width: 520px;
  margin: 10%;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #f5f5f5;
}

h2 {
  text-align: center;
  padding: 20px 0;
  margin-top: 5%;
  color: black;
}

.form-group {
  margin-bottom: 20px;
  color: black;
  text-align: start;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #d1d3d3;
}

button {
  padding: 10px 35px;
  background-color: #4CAF50;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Avatar CSS */
#avatar-image {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

#avatar-image label {
  margin-right: 20px;
}

.avatar-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #8b9094;
  margin-left: 50px;
}

.avatar-input {
  width: 20%;
  margin-left: 2.5%;
  background-color: #f5f5f5;
  border: none;
}

.avatar-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 2px;
  position: relative;
}

.avatar-image input[type="file"] {
  position: absolute;
  width: 100%;
  height: 100%;
  // opacity: 0;
  cursor: pointer;
  top: 0;
  left: 0;
}

#form-date-gender {
  display: flex;
  justify-content: space-between;
}

.gender select {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #d1d3d3;
}

#button {
  display: flex;
  justify-content: space-around;
}

#button button {
  background-color: #8a8b8a;
  margin-top: 20px;
  border-radius: 15px;
}

#button button:hover {
  background-color: #007bff;
  color: rgb(3, 3, 3);
  border-color: #0056b3;
}

/* Responsive CSS */
@media (max-width: 768px) {
  .body {
    height: auto;
  }

  .profile-edit-container {
    width: 100%;
    height: auto;
  }

  #form-date-gender {
    flex-direction: column;
    gap: 10px;
  }

  .avatar-image {
    width: 80px;
    height: 80px;
  }
}