<div class="div">
  <div class="body">
    <div class="profile-edit-container">
      <h2>Thông tin cá nhân</h2>
      <form [formGroup]="profileForm">
        <div id="avatar-image" class="form-group">
          <label for="avatar">Avatar:</label>
          <div class="avatar-image">
            <img alt="Avatar" [src]="avatarUrl" />
          </div>
          <input class="avatar-input" type="file" (change)="onFileChange($event)" />
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input formControlName="email" type="email" id="email" name="email" readonly/>
        </div>
        <div class="form-group">
          <label for="name">UserName:</label>
          <input formControlName="name" type="text" id="name" />
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input formControlName="password" type="password" id="password" />
        </div>
        <div id="button" class="form-group">
          <button type="button" routerLink="/layout/dashboard" routerLinkActive="router-link-active">Hủy</button>
          <button type="submit" [disabled]="profileForm.invalid">Cập nhật</button>
        </div>
      </form>
    </div>
  </div>
</div>
