<div
  class="div"
  (click)="changeVisible()"
  (keydown.enter)="changeVisible()"
  tabindex="0"
>
  <div
    class="body"
    (click)="blockFormClosing($event)"
    (keydown.enter)="changeVisible()"
    tabindex="0"
  >
    <div class="profile-edit-container">
      <h2>{{ 'PROFILE.TITLE' | translate }}</h2>
      <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <div id="avatar-image" class="form-group">
          <label for="avatar">{{ 'PROFILE.AVATAR' | translate }}:</label>
          <div class="avatar-image">
            <img alt="Avatar" [src]="avatarUrl" *ngIf="avatarUrl" />
            <span *ngIf="!avatarUrl">{{ 'NO_AVATAR' | translate }}</span>
          </div>
          <input
            class="avatar-input"
            type="file"
            (change)="onFileChange($event)"
          />
        </div>

        <div class="form-group">
          <label for="email">{{ 'PROFILE.EMAIL' | translate }}:</label>
          <input
            formControlName="email"
            type="email"
            id="email"
            name="email"
            readonly
          />
        </div>

        <div class="form-group">
          <label for="username">{{ 'PROFILE.USERNAME' | translate }}:</label>
          <input formControlName="username" type="text" id="username" />
        </div>

        <div id="button" class="form-group">
          <button
            type="button"
            class="content"
            (click)="changeVisible()"
            (keydown.enter)="changeVisible()"
            tabindex="0"
          >
            {{ 'PROFILE.CANCEL' | translate }}
          </button>
          <button type="submit">{{ 'PROFILE.UPDATE' | translate }}</button>
        </div>
      </form>
    </div>
  </div>
</div>
