<div class="container">
  <div class="header">
    <i class="fas fa-tasks"></i>
    <span>{{ 'BUCKET_ITEMS.LIST_ITEM' | translate }}</span>
    <div class="form-group col-md-4 me-5">
      <input
        class="form-control rounded-0 py-2"
        type="search"
        placeholder="{{ 'BUCKET_ITEMS.SEARCH_ITEMS' | translate }}"
        [formControl]="searchControl"
        id="example-search-input"
      />
    </div>
    <div class="status">
      <label for="">{{ 'BUCKET_ITEMS.STATUS' | translate }}:</label>
      <select [formControl]="doneControl" name="" id="status-value">
        <option [value]="''">{{ 'BUCKET_ITEMS.ALL' | translate }}</option>
        <option [value]="1">{{ 'BUCKET_ITEMS.DONE' | translate }}</option>
        <option [value]="0">{{ 'BUCKET_ITEMS.FALSE' | translate }}</option>
      </select>
    </div>
  </div>
  @if(isLoading){
  <div class="loading-spinner">
    <span class="spinner-border spinner-border-sm"> </span>{{ 'BUCKET_ITEMS.LOADING' | translate }}
  </div>
  }
  <ul class="task-list" *ngIf="!isLoading">
    @for (task of bucketItemlist; track $index) {
    <li
      class="task-item d-flex align-items-center mt-2"
      tabindex="0"
      (click)="toggleChildUpdateContent()"
      (keydown)="toggleChildUpdateContent()"
      (click)="onSelectItem(task.id)"
    >
      <div class="content flex-grow-1">
        @if (task.done === true) {
        <p class="task-title p-success">
          {{ task.content }}
        </p>
        } @if (task.done === false) {
        <p class="task-title p-danger">
          {{ task.content }}
        </p>
        }
      </div>
      <div class="text-muted me-3 d-flex align-items-center">
        <i class="bi bi-clock me-1"></i> {{ task.createdAt  |relativeTime}}
      </div>
      <div class="status">
        @if (task.done === true) {
        <button class="status-button">
          <i class="bi bi-check-circle-fill text-success"></i>
        </button>
        } @if (task.done === false) {
        <button class="status-button">
          <i class="bi-alarm text-danger"></i>
        </button>
        }
      </div>
    </li>
    } @empty {
    <h3>{{ 'BUCKET_ITEMS.NO_TASK_IN_TITLE' | translate }}</h3>
    }
  </ul>
  <mat-paginator
    [length]="totalItems"
    [pageSize]="pageSize"
    (page)="onPageEvent($event)"
  >
  </mat-paginator>
  <div class="footer">
    <button routerLink="/layout/bucket" class="me-5">
      <i class="bi bi-x-circle me-1"></i>{{ 'BUCKET_ITEMS.CANCEL' | translate }}
    </button>
    <button
      tabindex="0"
      (click)="toggleChildAddContent()"
      (keydown)="toggleChildAddContent()"
    >
      <i class="bi bi-plus-circle"></i>
      {{ 'BUCKET_ITEMS.ADD_CONTENT' | translate }}
    </button>
    @if(showChildAdd){
    <app-add-content-items
      (previewVisible)="showChildClickAddContent($event)"
      (reloadData)="ngOnInit()"
    ></app-add-content-items>
    }
  </div>
  @if(showChildUpdate){
  <app-update-items
    [bucketItemsbyId]="bucketItemsbyId"
    (reloadData)="ngOnInit()"
    (previewVisible)="showChildClickUpdateContent($event)"
  ></app-update-items>
  }
</div>
