<div class="container">
  <div class="header">
    <i class="fas fa-tasks"></i>
    <span>LIST ITEM</span>
    <div class="form-group col-md-4">
      <input
        class="form-control rounded-0 py-2"
        type="search"
        placeholder="search items"
        id="example-search-input"
      />
    </div>
  </div>
  <ul class="task-list">
    @for (task of bucketItemlist; track $index) {
    <li
      class="task-item d-flex align-items-center mt-2"
      tabindex="0"
      (click)="toggleChildUpdateContent()"
      (keydown)="toggleChildUpdateContent()"
      (click)="onSelectItem(task.id)"
    >
      <div class="content flex-grow-1">
        @if (task.done === true) {
        <p class="task-title p-success">
          {{ task.content }}
        </p>
        } @if (task.done === false) {
        <p class="task-title p-danger">
          {{ task.content }}
        </p>
        }
      </div>
      <div class="status">
        @if (task.done === true) {
        <button class="status-button">
          <i class="bi bi-check-circle-fill text-success"></i>
        </button>
        } @if (task.done === false) {
        <button class="status-button">
          <i class="bi-alarm text-danger"></i>
        </button>
        }
      </div>
    </li>
    }
  </ul>
  <mat-paginator
    [length]="totalItems"
    [pageSize]="pageSize"
    (page)="onPageEvent($event)"
  >
  </mat-paginator>
  <div class="footer">
    <button routerLink="/layout/bucket" class="me-5">Cancel</button>
    <button
      tabindex="0"
      (click)="toggleChildAddContent()"
      (keydown)="toggleChildAddContent()"
    >
      Add Content
    </button>
    @if(showChildAdd){
    <app-add-content-items
      (previewVisible)="showChildClickAddContent($event)" (reloadData)="ngOnInit()"
    ></app-add-content-items>
    }
  </div>
  @if(showChildUpdate){
  <app-update-items
    [bucketItemsbyId]="bucketItemsbyId"
    (reloadData)="ngOnInit()"
    (previewVisible)="showChildClickUpdateContent($event)"
  ></app-update-items>
  }
</div>
