.container {
  width: 50%;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: 'Times New Roman', Times, serif;
  padding: 20px;

}

.loading-spinner {
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  font-size: 18px;
  margin-bottom: 20px;
}

.header span {
  font-size: 24px;
  font-weight: 500;
}

.form-group {
  margin-left: 5%;
}

.form-group input {
  border-radius: 7px !important;
}

.header i {
  margin-right: 10px;
}

.status #status-value {
  padding: 5px;
  margin-left: 10px;
  border-radius: 7px;

}

.status #status-value select {
  font-size: 16px;
}

.status #status-value option {
  font-size: 16px;
}

.task-list {
  list-style: none;
  padding: 0;
  white-space: normal;
  word-break: break-word;
}

h3 {
  text-align: center;
  margin-top: 5%;
}

.task-item p {
  font-size: 18px;
}

.task-list .status button {
  border: none;
  background-color: #fff;
}

.task-list .status button i {
  font-size: 20px;
}

.task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #e9ecef;
}

.task-list .status button:hover{
  background-color: #28a745;
}
.task-item:hover {
  background-color: #f0f0f0;
  transform: scale(1.02);
}

.task-item:focus {
  outline: none;
  background-color: #f0f0f0;
}

.task-list .p-success {
  color: #28a745;
  cursor: pointer;
  text-decoration: line-through
}

.task-list .p-danger {
  color: #dc3545;
  cursor: pointer;

}

.task-actions {
  display: flex;
  align-items: center;
}

.task-actions .fa-check {
  color: #28a745;
  margin-right: 10px;
}

.task-actions .fa-trash {
  color: #dc3545;
}

.footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.footer a {
  text-decoration: none;
  color: #007bff;
  margin-right: 20px;
}

.footer button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}