<div class="container">
  <div class="header">
    <i class="fas fa-tasks"></i>
    <span>{{ 'BUCKET_ITEMS.LIST_ITEM' | translate }}</span>
    <div class="form-group col-md-4 me-2">
      <input
        class="form-control rounded-0 py-2"
        type="search"
        placeholder="{{ 'BUCKET_ITEMS.SEARCH_ITEMS' | translate }}"
        [formControl]="searchControl"
        id="example-search-input"
      />
    </div>
    <div class="status">
      <label for="">{{ 'BUCKET_ITEMS.STATUS' | translate }}:</label>
      <select [formControl]="doneControl" name="" id="status-value">
        <option [value]="''">{{ 'BUCKET_ITEMS.ALL' | translate }}</option>
        <option [value]="1">{{ 'BUCKET_ITEMS.DONE' | translate }}</option>
        <option [value]="0">{{ 'BUCKET_ITEMS.FALSE' | translate }}</option>
      </select>
    </div>
    <div class="note">
      <p class="text-success text-decoration-line-through">
        <i class="bi bi-check-circle"></i> Hoan Thanh
      </p>
      <p class="text-success">
        <i class="bi bi-hourglass"></i> Chua Hoan Thanh
      </p>
      <p class="text-warning">
        <i class="bi bi-exclamation-triangle"></i> Canh Bao
      </p>
      <p class="text-danger"><i class="bi bi-x"></i> Qua Han</p>
    </div>
  </div>
  @if(isLoading){
  <div class="loading-spinner">
    <span class="spinner-border spinner-border-sm"> </span
    >{{ 'BUCKET_ITEMS.LOADING' | translate }}
  </div>
  }
  <ul class="task-list" *ngIf="!isLoading">
    @for (task of bucketItemlist; track $index) {
    <li
      class="task-item d-flex align-items-center mt-2"
      tabindex="0"
      (click)="onSelectItem(task.id)"
      (click)="onItemSelect(task.id, $event)"
    >
      <div *ngIf="isSelecting" class="me-4 fs-2 select-multi">
        <input
          class="mb-3"
          type="checkbox"
          [value]="task.id"
          (click)="onItemSelect(task.id, $event); $event.stopPropagation()"
          name="taskSelection"
        />
      </div>
      <div class="content flex-grow-1">
        @if (task.done === true) {
        <p class="task-title p-success">
          <i class="bi bi-check-circle me-2"></i>{{ task.content }}
          <i class="bi bi-alarm ms-5">{{ task.deadline | relativeTime }}</i>
        </p>
        } @if (task.done === false) {
        <p class="task-title p-icon" [deadlineWarning]="task.deadline">
          {{ task.content }}
          <i class="bi bi-alarm ms-5">{{ task.deadline | relativeTime }}</i>
        </p>
        }
      </div>
      <div class="text-muted me-3 d-flex align-items-center">
        <i class="bi bi-clock me-1"></i> {{ task.createdAt | relativeTime }}
      </div>
      <div class="status">
        @if (task.done === true) {
        <button class="status-button">
          <i class="bi bi-check-circle-fill text-success"></i>
        </button>
        } @if (task.done === false) {
        <button class="status-button">
          <i class="bi bi-ban-fill text-danger"></i>
        </button>
        }
      </div>
    </li>
    } @empty {
    <h3>{{ 'BUCKET_ITEMS.NO_TASK_IN_TITLE' | translate }}</h3>
    }
  </ul>

  <mat-paginator
    [length]="totalItems"
    [pageIndex]="pageIndex"
    [pageSize]="pageSize"
    (page)="onPageEvent($event)"
  >
  </mat-paginator>
  <div class="footer">
    <button
      class="me-5"
      (click)="toggleSelectMode()"
      (keydown)="toggleSelectMode()"
    >
      <i class="bi bi-caret-down-fill"></i> Select
    </button>
    <button routerLink="/layout/bucket" class="me-5">
      <i class="bi bi-x-circle me-1"></i>{{ 'BUCKET_ITEMS.CANCEL' | translate }}
    </button>
    <button
      tabindex="0"
      (click)="toggleChildAddContent()"
      (keydown)="toggleChildAddContent()"
    >
      <i class="bi bi-plus-circle"></i>
      {{ 'BUCKET_ITEMS.ADD_CONTENT' | translate }}
    </button>

    @if(showChildAdd){
    <app-add-content-items
      (previewVisible)="showChildClickAddContent($event)"
      (reloadData)="onReloadData()"
    ></app-add-content-items>
    }
  </div>
  @if(showChildUpdate){
  <app-update-items
    *ngIf="!isSelecting && showChildUpdate"
    [bucketItemsbyId]="bucketItemsbyId"
    (reloadData)="onReloadData()"
    (previewVisible)="showChildClickUpdateContent($event)"
  ></app-update-items>
  }
</div>
