<div class="body">
  <div class="search-bar">
    <input matInput type="text" placeholder="Search bucket..." [formControl]="searchControl" />
    <button><i class="bi bi-filter"></i> Use cases</button>
    <select>
      <option>Tags</option>
    </select>
    <button><i class="bi bi-person"></i> Created by:</button>
  </div>
  <div class="header-bar">
    <h2>Checklist templates</h2>
    <button tabindex="0" (click)="toggleChild()" (keydown)="toggleChild()">
      <i class="bi bi-plus-circle"></i>
      Add Bucket
    </button>
  </div>
  @if(showChild){
  <app-add-bucket (previewVisible)="showChildClick($event)"></app-add-bucket>
  }
  <div class="templates">
    @for (items of listBucket; track $index) {
    <div
      class="template-card"
    >
      <div class="icon">
        <span class="list">
          <i tabindex="0" class="bi bi-list-check">TITLE</i>
        </span>
        @if (items.public === true) {
          <span class="setting">
            <i tabindex="0" class="bi bi-lock"></i>
          </span>
        }
      </div>
      <div class="action">
        <h3 tabindex="0" (keydown)="onBucketClick(items.id)" (click)="onBucketClick(items.id)" >{{ items.title }}</h3>
        <div class="action-button">
          <i tabindex="0" (keydown)="onBucketItemsClick(items.id)" (click)="onBucketItemsClick(items.id)" class="bi bi-pencil"></i>
        </div>
      </div>
    </div>
    }@empty {
      <h3>No Title In Bucket</h3>
      }
  </div>
  <mat-paginator
    [length]="totalItems"
    [pageSize]="pageSize"
    (page)="onPageEvent($event)"
  >
  </mat-paginator>
</div>
