<div class="modal1">
  <div class="content">
    <div class="modal-header">
      <span></span>
      <button class="close cancel" (click)="changeVisibleAddContent()">
        X
      </button>
    </div>
    <div class="modal-body">
      <h2>{{ 'BUCKET_TITLE_MODAL.TITLE' | translate }}</h2>
      <form [formGroup]="addcontentForm" (ngSubmit)="onSubmit()">
        <label for="text"
          >{{ 'BUCKET_TITLE_MODAL.CONTENT' | translate }}:<span class="required"
            >*</span
          ></label
        >
        <input type="text" id="text" formControlName="content" />
        @if (addcontentForm.get('content')?.invalid &&
        addcontentForm.get('content')?.touched) {
        <div>
          <small class="error">{{
            'BUCKET_TITLE_MODAL.TITLE_REQUIRED' | translate
          }}</small>
        </div>
        }
        <div class="picker">
          <app-custom-datepicker
            formControlName="date"
            class="mt-2"
          ></app-custom-datepicker>

          <span
            [error]="addcontentForm.get('date')?.errors"
            [params]="{ fieldName: 'date' }"
            [show]="
              addcontentForm.get('date')?.dirty ||
              (addcontentForm.get('date')?.touched ?? false)
            "
            class="text-danger"
          ></span>

          <app-custom-timepicker
            formControlName="time"
            class="mt-2"
          ></app-custom-timepicker>

          <span
            [error]="addcontentForm.get('time')?.errors"
            [params]="{ fieldName: 'time' }"
            [show]="
              addcontentForm.get('time')?.dirty ||
              (addcontentForm.get('time')?.touched ?? false)
            "
            class="text-danger"
          ></span>
        </div>
        @if(loading){
        <button class="btn btn-lg loading-btn">
          <span class="spinner-border spinner-border-sm"></span>
          {{ 'BUCKET_TITLE_MODAL.WAITING' | translate }}
        </button>
        }
        <div class="modal-footer">
          <button
            type="submit"
            [disabled]="addcontentForm.invalid || loading"
            [style.cursor]="loading ? 'not-allowed' : 'pointer'"
          >
            {{ 'BUCKET_TITLE_MODAL.ADD_CONTENT' | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
