<div class="dashboard">
  <h1 class="dashboard-title">{{ 'DASHBOARD.DASHBOARD_TITLE' | translate }}</h1>
  <p class="dashboard-description">
    {{ 'DASHBOARD.DASHBOARD_DESCRIPTION' | translate }}
  </p>
  <p>{{ 'DASHBOARD.TO_DO_LIST_DASHBOARD' | translate }}</p>
  <ul>
    <li>{{ 'DASHBOARD.CREATE_TASK' | translate }}</li>
    <li>{{ 'DASHBOARD.MARK_COMPLETE' | translate }}</li>
    <li>{{ 'DASHBOARD.SET_DEADLINE' | translate }}</li>
    <li>{{ 'DASHBOARD.PRIORITIZE_TASKS' | translate }}</li>
  </ul>
  <p>{{ 'DASHBOARD.START_ORGANIZING' | translate }}</p>
</div>
