<div class="dashboard">
  <h1 class="dashboard-title">ToDoApp</h1>
  <p class="dashboard-description">
    Chào mừng bạn đến với TodoApp, giải pháp hoàn hảo để quản lý công việc hàng
    ngày của bạn. Tạo, tổ chức và theo dõi các công việc của bạn một cách dễ
    dàng với TodoApp!;
  </p>
  <p>Với TodoApp, bạn có thể:</p>
  <ul>
    <li>Tạo công việc mới</li>
    <li>Đánh dấu công việc đã hoàn thành</li>
    <li>Đặt hạn chót và nhắc nhở cho công việc</li>
    <li>Ưu tiên công việc theo mức độ quan trọng</li>
  </ul>
  <p>
    Hãy bắt đầu tổ chức công việc ngay hôm nay và nâng cao năng suất của bạn!
  </p>
</div>
