<div class="dashboard">
  <h1 class="dashboard-title">{{ 'DASHBOARD.DASHBOARD_TITLE' | translate }}</h1>
  <p class="dashboard-description">
    {{ 'DASHBOARD.DASHBOARD_DESCRIPTION' | translate }}
  </p>
  <p>{{ 'DASHBOARD.TO_DO_LIST_DASHBOARD' | translate }}</p>
  <ul>
    <li>
      <strong>{{ 'DASHBOARD.CREATE_TASK' | translate }}</strong> -
      {{ 'DASHBOARD.CREATE_TASK_DESC' | translate }}
    </li>
    <li>
      <strong>{{ 'DASHBOARD.MARK_COMPLETE' | translate }}</strong> -
      {{ 'DASHBOARD.MARK_COMPLETE_DESC' | translate }}
    </li>
    <li>
      <strong>{{ 'DASHBOARD.SET_DEADLINE' | translate }}</strong> -
      {{ 'DASHBOARD.SET_DEADLINE_DESC' | translate }}
    </li>
    <li>
      <strong>{{ 'DASHBOARD.PRIORITIZE_TASKS' | translate }}</strong> -
      {{ 'DASHBOARD.PRIORITIZE_TASKS_DESC' | translate }}
    </li>
    <li>
      <strong>{{ 'DASHBOARD.COLLABORATE_WITH_TEAM' | translate }}</strong> -
      {{ 'DASHBOARD.COLLABORATE_WITH_TEAM_DESC' | translate }}
    </li>
    <li>
      <strong>{{ 'DASHBOARD.VISUALIZE_PROGRESS' | translate }}</strong> -
      {{ 'DASHBOARD.VISUALIZE_PROGRESS_DESC' | translate }}
    </li>
  </ul>
  <p>{{ 'DASHBOARD.START_ORGANIZING' | translate }}</p>
</div>
