<div class="custom-button-container">
  <button
    class="button-text"
    (mouseenter)="onHover()"
    (mouseleave)="onLeave()"
    (mousedown)="onPress()"
    (mouseup)="onRelease()"
    [disabled]="isDisabled || isLoading"
  >
    <!-- icon 1 -->
    <i [class]="iconStart"></i>
    <!-- button name -->
    {{ isLoading ? 'Loading...' : buttonText }}
    <!-- icon 2 -->
    <i [class]="iconEnd"></i>
  </button>
</div>
<!-- [ngClass]="{
  small: size === 'small',
  medium: size === 'medium',
  large: size === 'large',
  primary: styleButton === 'primary',
  secondary: styleButton === 'secondary',
  tertiary: styleButton === 'tertiary',
  neutral: styleButton === 'neutral',
  
}" -->
