<section class="vh-80">
  <div class="container py-5 h-100">
    <app-change-languages></app-change-languages>
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="assets/img/login.png" class="img-fluid" alt="Phone image" />
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <h1>{{ 'SIGN_IN.LOGIN' | translate }}</h1>
        <form [formGroup]="loginForm">
          <!-- Email input -->
          <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label" for="email">{{
              'SIGN_IN.EMAIL' | translate
            }}</label>
            <input
              tabindex="0"
              formControlName="email"
              S
              id="email"
              class="form-control form-control-lg"
              type="email"
              required
            />
            <div
            *ngIf="
              loginForm.get('email')?.invalid &&
              (loginForm.get('email')?.touched ||
                loginForm.get('email')?.dirty)
            "
          >
            <small class="text-danger">{{
              getErrorMessage('email')
            }}</small>
          </div>
          </div>
          <!-- Password input -->
          <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label" for="password">{{
              'SIGN_IN.PASSWORD' | translate
            }}</label>
            <input
              tabindex="0"
              formControlName="password"
              id="password"
              type="password"
              class="form-control form-control-lg"
              required
            />
            <div
              *ngIf="
                loginForm.get('password')?.invalid &&
                (loginForm.get('password')?.touched ||
                  loginForm.get('password')?.dirty)
              "
            >
              <small class="text-danger">{{
                getErrorMessage('password')
              }}</small>
            </div>
          </div>

          <div class="d-flex justify-content-around align-items-center mb-4">
            <!-- Checkbox -->
            <div class="form-check">
              <input
                formControlName="rememberMe"
                class="form-check-input"
                id="rememberMe"
                type="checkbox"
              />
              <label class="form-check-label" for="rememberMe">{{
                'SIGN_IN.REMEMBER_ME' | translate
              }}</label>
            </div>
            <a style="cursor: pointer" tabindex="0" routerLink="/sign-up">
              {{ 'SIGN_IN.NO_ACCOUNT' | translate }}
            </a>
            <a
              style="cursor: pointer"
              tabindex="0"
              (click)="toggleChild()"
              (keydown)="toggleChild()"
            >
              {{ 'SIGN_IN.FORGET_PASS' | translate }}
            </a>
          </div>

          @if(showChild){
          <app-forgot-password
            (previewVisible)="showChildClick($event)"
          ></app-forgot-password>
          }
          <button
            tabindex="0"
            (click)="validateLogin()"
            type="button"
            class="btn btn-primary btn-lg btn-block mt-2"
            [disabled]="loginForm.invalid || (loading$ | async)"
          >
            <ng-container *ngIf="loading$ | async; else signInButton">
              <span class="spinner-border spinner-border-sm"></span>
              {{ 'SIGN_IN.WAITING' | translate }}
            </ng-container>
            <ng-template #signInButton>
              {{ 'SIGN_IN.SIGN_IN' | translate }}
            </ng-template>
          </button>
          <!-- Show spinner if loading$ is true -->

          <!-- Submit button with loading spinner -->
        </form>
      </div>
    </div>
  </div>
</section>
