<section class="vh-100">
  <div class="container py-5 h-100">
    <app-change-languages></app-change-languages>
    <app-theme-switcher></app-theme-switcher>
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="assets/img/login.png" class="img-fluid" alt="Phone image" />
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <h1>{{ 'SIGN_UP.REGISTER' | translate }}</h1>
        <form [formGroup]="registerForm">
          <!-- UserName input -->
          <div data-mdb-input-init class="form-outline mb-3">
            <label class="form-label" for="username">{{
              'SIGN_UP.USER_NAME' | translate
            }}</label>
            <input
              formControlName="username"
              id="username"
              [ngClass]="{
                'is-invalid':
                  registerForm.get('username')?.invalid &&
                  (registerForm.get('username')?.touched ||
                    registerForm.get('username')?.dirty)
              }"
              type="text"
              class="form-control form-control-lg"
              required
            />
            <span
              [error]="registerForm.get('username')?.errors"
              [params]="{ fieldName: 'username' }"
              [show]="
                registerForm.get('username')?.dirty ||
                (registerForm.get('username')?.touched ?? false)
              "
              class="text-danger"
            ></span>
          </div>

          <!-- Email input -->
          <div data-mdb-input-init class="form-outline mb-3">
            <label class="form-label" for="email">{{
              'SIGN_UP.EMAIL' | translate
            }}</label>
            <input
              formControlName="email"
              id="email"
              [ngClass]="{
                'is-invalid':
                  registerForm.get('email')?.invalid &&
                  (registerForm.get('email')?.touched ||
                    registerForm.get('email')?.dirty)
              }"
              type="email"
              class="form-control form-control-lg"
              required
            />
            <span
              [error]="registerForm.get('email')?.errors"
              [params]="{ fieldName: 'email' }"
              [show]="
                registerForm.get('email')?.dirty ||
                (registerForm.get('email')?.touched ?? false)
              "
              class="text-danger"
            ></span>
          </div>
          <!-- Password input -->
          <div data-mdb-input-init class="form-outline mb-3">
            <label class="form-label" for="password">{{
              'SIGN_UP.PASSWORD' | translate
            }}</label>
            <input
              formControlName="password"
              id="password"
              [ngClass]="{
                'is-invalid':
                  registerForm.get('password')?.invalid &&
                  (registerForm.get('password')?.touched ||
                    registerForm.get('password')?.dirty)
              }"
              type="password"
              class="form-control form-control-lg"
              required
            />
            <span
              [error]="registerForm.get('password')?.errors"
              [params]="{ fieldName: 'Password' }"
              [show]="
                registerForm.get('password')?.dirty ||
                (registerForm.get('password')?.touched ?? false)
              "
              class="text-danger"
            ></span>
          </div>

          <!-- Confirm Password input -->
          <div data-mdb-input-init class="form-outline mb-3">
            <label class="form-label" for="password">{{
              'SIGN_UP.PASSWORD_CONFIRM' | translate
            }}</label>
            <input
              formControlName="passwordconfirm"
              id="password"
              [ngClass]="{
                'is-invalid':
                  registerForm.get('passwordconfirm')?.invalid &&
                  (registerForm.get('passwordconfirm')?.touched ||
                    registerForm.get('passwordconfirm')?.dirty)
              }"
              type="password"
              class="form-control form-control-lg"
              required
            />
            <span
              [error]="registerForm.get('passwordconfirm')?.errors"
              [params]="{ fieldName: 'passwordconfirm' }"
              [show]="
                registerForm.get('passwordconfirm')?.dirty ||
                (registerForm.get('passwordconfirm')?.touched ?? false)
              "
              class="text-danger"
            ></span>
          </div>

          <!-- Account existing link -->
          <div class="d-flex justify-content-center align-items-center mb-3">
            <a routerLink="/sign-in" style="cursor: pointer">{{
              'SIGN_UP.ALREADY_HAVE_ACCOUNT' | translate
            }}</a>
          </div>

          <button
            (click)="onRegister()"
            type="button"
            class="btn btn-primary btn-lg btn-block mb-3"
            [disabled]="registerForm.invalid || loading"
            [style.cursor]="loading ? 'not-allowed' : 'pointer'"
          >
            <ng-container *ngIf="loading; else registerButton">
              <span class="spinner-border spinner-border-sm"></span>
              {{ 'SIGN_UP.WAITING' | translate }}
            </ng-container>
            <ng-template #registerButton>
              {{ 'SIGN_UP.REGISTER_BUTTON' | translate }}
            </ng-template>
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
