<section class="vh-100">
  <div class="container py-5 h-100">
    <app-change-languages></app-change-languages>
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="assets/img/login.png" class="img-fluid" alt="Phone image" />
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <h1>{{ 'REGISTER' | translate }}</h1>
        <form [formGroup]="registerForm">
          <!-- UserName input -->
          <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label" for="username">{{ 'USER_NAME' | translate }}</label>
            <input
              formControlName="username"
              id="username"
              type="text"
              class="form-control form-control-lg"
              required
            />
            <div *ngIf="registerForm.get('username')?.invalid && (registerForm.get('username')?.touched || registerForm.get('username')?.dirty)">
              <small class="text-danger">{{ 'USERNAME_INVALID' | translate }}</small>
            </div>
          </div>

          <!-- Email input -->
          <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label" for="email">{{ 'EMAIL' | translate }}</label>
            <input
              formControlName="email"
              id="email"
              type="email"
              class="form-control form-control-lg"
              required
            />
            <div *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.touched || registerForm.get('email')?.dirty)">
              <small class="text-danger">{{ 'EMAIL_INVALID' | translate }}</small>
            </div>
          </div>

          <!-- Password input -->
          <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label" for="password">{{ 'PASSWORD' | translate }}</label>
            <input
              formControlName="password"
              id="password"
              type="password"
              class="form-control form-control-lg"
              required
            />
            <div *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.touched || registerForm.get('password')?.dirty)">
              <small class="text-danger">{{ 'PASSWORD_INVALID' | translate }}</small>
            </div>
          </div>

          <!-- Confirm Password input -->
         

          <!-- Account existing link -->
          <div class="d-flex justify-content-center align-items-center mb-3">
            <a routerLink="/sign-in" style="cursor: pointer">{{ 'ALREADY_HAVE_ACCOUNT' | translate }}</a>
          </div>

          <button class="btn btn-primary mb-2" *ngIf="loading ">
            <span class="spinner-border spinner-border-sm"></span>
            waiting....
          </button>

          <!-- Submit button -->
          <button
            (click)="onRegister()"
            type="button"
            class="btn btn-primary btn-lg btn-block"
            [disabled]="registerForm.invalid || loading"
            [style.cursor]="loading ? 'not-allowed' : 'pointer'" 
          >
            {{ 'REGISTER_BUTTON' | translate }}
          </button>
         
        </form>
      </div>
    </div>
  </div>
</section>
