<section class="vh-100">
  <div class="container py-5 h-100">
    <app-change-languages></app-change-languages>
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="assets/img/login.png" class="img-fluid" alt="Phone image" />
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <h1>{{ 'SIGN_UP.REGISTER' | translate }}</h1>
        <form [formGroup]="registerForm">
          <!-- UserName input -->
          <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label" for="username">{{
              'SIGN_UP.USER_NAME' | translate
            }}</label>
            <input
              formControlName="username"
              id="username"
              type="text"
              class="form-control form-control-lg"
              required
            />
            <div
              *ngIf="
                registerForm.get('username')?.invalid &&
                (registerForm.get('username')?.touched ||
                  registerForm.get('username')?.dirty)
              "
            >
              <small class="text-danger">{{
                'SIGN_UP.USERNAME_INVALID' | translate
              }}</small>
            </div>
          </div>

          <!-- Email input -->
          <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label" for="email">{{
              'SIGN_UP.EMAIL' | translate
            }}</label>
            <input
              formControlName="email"
              id="email"
              type="email"
              class="form-control form-control-lg"
              required
            />
            <div
              *ngIf="
                registerForm.get('email')?.invalid &&
                (registerForm.get('email')?.touched ||
                  registerForm.get('email')?.dirty)
              "
            >
              <small class="text-danger">{{
                'SIGN_UP.EMAIL_INVALID' | translate
              }}</small>
            </div>
          </div>

          <!-- Password input -->
          <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label" for="password">{{
              'SIGN_UP.PASSWORD' | translate
            }}</label>
            <input
              formControlName="password"
              id="password"
              type="password"
              class="form-control form-control-lg"
              required
            />
            <div
              *ngIf="
                registerForm.get('password')?.invalid &&
                (registerForm.get('password')?.touched ||
                  registerForm.get('password')?.dirty)
              "
            >
              <small class="text-danger">{{
                'SIGN_UP.PASSWORD_INVALID' | translate
              }}</small>
            </div>
          </div>

          <!-- Confirm Password input -->

          <!-- Account existing link -->
          <div class="d-flex justify-content-center align-items-center mb-3">
            <a routerLink="/sign-in" style="cursor: pointer">{{
              'SIGN_UP.ALREADY_HAVE_ACCOUNT' | translate
            }}</a>
          </div>

          <button
            (click)="onRegister()"
            type="button"
            class="btn btn-primary btn-lg btn-block mb-2"
            [disabled]="registerForm.invalid || loading"
            [style.cursor]="loading ? 'not-allowed' : 'pointer'"
          >
            <ng-container *ngIf="loading; else registerButton">
              <span class="spinner-border spinner-border-sm"></span>
              {{ 'SIGN_UP.WAITING' | translate }}
            </ng-container>
            <ng-template #registerButton>
              {{ 'SIGN_UP.REGISTER_BUTTON' | translate }}
            </ng-template>
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
