<div class="modal1">
  <div class="content">
    <div class="modal-header">
      <span></span>
      <button class="close cancel" (click)="changeVisible()">X</button>
    </div>
    <div class="modal-body">
      <h2>Create a new todo bucket</h2>
      <form [formGroup]="bucketForm" (ngSubmit)="onSubmit()">
        <label for="text">Title:<span class="required">*</span></label>
        <input type="text" id="text" formControlName="title" />
        @if (bucketForm.get('title')?.invalid &&
        bucketForm.get('title')?.touched) {
        <div>
          <small class="error">Title is required</small>
        </div>
        }
        <label for="public">Status:</label>
        <div class="button-group">
          <button
            type="button"
            class="status-button"
            [ngClass]="{
              active: bucketForm.get('public')?.value === true
            }"
            (click)="setDoneStatus(true)"
          >
            <i class="bi bi-check-circle-fill text-success"></i> Public
          </button>
          <button
            type="button"
            class="status-button"
            [ngClass]="{
              active: bucketForm.get('public')?.value === false
            }"
            (click)="setDoneStatus(false)"
          >
            <i class="bi bi-alarm text-danger"></i> Private
          </button>
        </div>

        <div class="modal-footer">
          <button type="submit" [disabled]="bucketForm.invalid">
            <i class="bi bi-plus"></i>
            Add Bucket
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
