<div class="modal1">
  <div class="content">
    <div class="modal-header">
      <span></span>
      <button class="close cancel" (click)="changeVisible()">X</button>
    </div>
    <div class="modal-body">
      <h2>{{ 'BUCKET_MODAL.TITLE' | translate }}</h2>
      <form [formGroup]="bucketForm" (ngSubmit)="onSubmit()">
        <label for="text"
          >{{ 'BUCKET_MODAL.CONTENT' | translate }}:<span class="required"
            >*</span
          ></label
        >
        <!-- <input type="text" id="text" formControlName="title" />  -->
        <app-input
          [type]="'text'"
          [id]="'text'"
          formControlName="title"
          [label]="'BUCKET_MODAL.CONTENT' | translate"
          [placeholder]="'Enter description'"
        ></app-input>
        @if (bucketForm.get('title')?.invalid &&
        bucketForm.get('title')?.touched) {
        <span
          [error]="bucketForm.get('title')?.errors"
          [params]="{ fieldName: 'title' }"
          [show]="
            bucketForm.get('title')?.dirty ||
            (bucketForm.get('title')?.touched ?? false)
          "
          class="text-danger"
        ></span>
        }
        <label for="public">{{ 'BUCKET_MODAL.STATUS' | translate }}:</label>

        <app-status
          [value]="bucketForm.get('public')?.value"
          [iconStart]="'bi bi-people'"
          [iconEnd]="'bi bi-lock'"
          [status1]="'BUCKET_MODAL.PUBLIC' | translate"
          [status2]="'BUCKET_MODAL.PRIVATE' | translate"
          (valueChange)="setDoneStatus($event)"
        ></app-status>

        <!-- <button class="btn btn-lg loading-btn" *ngIf="loading">
          <span class="spinner-border spinner-border-sm"></span>
          {{ 'BUCKET_MODAL.WAITING' | translate }}
        </button> -->
        <div class="modal-footer">
          <app-button
            [iconStart]="'bi bi-plus'"
            [size]="'small'"
            [isLoading]="bucketForm.invalid || loading"
            [style.cursor]="loading ? 'not-allowed' : 'pointer'"
            [styleButton]="'neutral'"
            [isDisabled]="loading"
            [buttonText]="'BUCKET_MODAL.ADD_BUCKET' | translate"
            tabindex="0"
          ></app-button>
        </div>
      </form>
    </div>
  </div>
</div>
