/* You can add global styles to this file, and also import other style files */
@import "node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "node_modules/bootstrap-icons/font/bootstrap-icons.css";
@import '@coreui/coreui/dist/css/coreui.min.css';
@import 'ng-zorro-antd/ng-zorro-antd.min.css';

html,
body {
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
    margin: 0;
    transition: background-color 0.3s, color 0.3s;
}

:root {
    --background-color: #ffffff;
    --text-color: #000000;

}

.dark-mode {
    --background-color: #121212;
    --text-color: #e0e0e0;

}