<!-- <div class="container-flud g-0">
  <app-header (sideNavToggled)="sideNavStatus = $event;"></app-header>
  <div class="main">
    <app-menu [sideNavStatus]="sideNavStatus" [ngClass]="{'app-menu-open': sideNavStatus}"></app-menu>
    <div class="display-area" [ngStyle]="{'margin-left': sideNavStatus ? '200px' : '60px'}" >
      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->
<!-- <div class="d-flex">
  <app-menu></app-menu>
  <div class="content flex-grow-1">
    <app-header></app-header>
    <router-outlet class="me-5"></router-outlet>
  </div>
</div> -->
<div class="d-flex">
  <app-menu></app-menu>
  <div class="content">
    <app-header></app-header>
    <div class="router">
      <router-outlet class="me-5"></router-outlet>
    </div>
  </div>
</div>
